#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    grid-auto-flow: dense;
    margin: 1em auto;
    padding: 0;
    max-width: 800px;
}

h1, p {
    text-align: center;
}

.img-bouton{
    max-width: 200px;
    opacity: 0%;
    transition: opacity;
    transition-duration: 0.3s;
}
.img-bouton:hover{
    opacity: 100%;
}

#btn1a{
    width: fit-content;
    background-image: url('../img/logo-musique-portail-logo-1a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#btn1b{
    width: fit-content;
    background-image: url('../img/logo-musique-portail-logo-1b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#btn1c{
    width: fit-content;
    background-image: url('../img/logo-musique-portail-logo-1c.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#btn2a{
    width: fit-content;
    background-image: url('../img/logo-musique-portail-logo-2a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#btn2b{
    width: fit-content;
    background-image: url('../img/logo-musique-portail-logo-2b.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#btn2c{
    width: fit-content;
    background-image: url('../img/logo-musique-portail-logo-2c.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#btn2d{
    width: fit-content;
    background-image: url('../img/logo-musique-portail-logo-2d.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#btn3a{
    width: fit-content;
    background-image: url('../img/logo-musique-portail-logo-3a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#btn4a{
    width: fit-content;
    background-image: url('../img/logo-musique-portail-logo-4a.png');
    background-size: contain;
    background-repeat: no-repeat;
}
